
<div class="div">
<% @word_count.each do |word, count| %>
  <p class="word"><%= link_to word, tweet_path(Tweet.create(content: word)), method: :put, remote: true %> - <%= count %></p>
<% end %>
</div>

