<br>
<h2 class="text-center">Type a Twitter username:</h2>
<div class="form-wrapper">
  <form action="/tweets" class="form">
    <input type="text" name="username", placeholder="Username", class="form-control">
    <button type="submit" class="btn btn-primary form-btn">Search Tweets</button>
  </form>
</div>
