<h2>Type a Twitter username:</h2>
<form action="/tweets" class="form-inline">
<input type="text" name="username", placeholder="Username">
<button type="submit" class="btn btn-primary">Search Tweets</button>
</form>
